<main>
    <section class="form-section">
        <h1 style="color: #6D4118;">INFORMACIÓN DEL PROYECTO</h1>

        <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()" novalidate>
            <input type="text" placeholder="Nombre del proyecto*" formControlName="nombreproyecto" />
            <input type="text" placeholder="Descripción*" formControlName="descripcion" />
            <input type="number" placeholder="Monto objetivo*" formControlName="montoobjetivo" />
            <input type="number" placeholder="Monto recaudado*" formControlName="montorecaudado" />
            <input type="date" placeholder="Fecha inicio (yyyy-MM-dd)*" formControlName="fechainicio" />
            <input type="date" placeholder="Fecha fin (yyyy-MM-dd)*" formControlName="fechafin" />
            <input type="text" placeholder="Nombre de la Organización*" formControlName="nombreorganización" />
            <input type="text" placeholder="Escuela beneficiada*" formControlName="escuelabeneficiada" />
            <input type="number" placeholder="Cupo máximo*" formControlName="cupoMaximo" />

            <!-- Selector de imagen -->
            <div class="file-row">
                <span class="file-label">Seleccione una imagen</span>
                <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)"
                    style="display: none" />
                <label for="imagen" class="file-btn" (click)="fileInput.click()">Elegir archivo</label>
                <span class="file-name">
                    {{ imagenPreview ? 'Imagen seleccionada' : 'Ningún archivo seleccionado' }}
                </span>
            </div>

            <div class="imagen-preview" *ngIf="imagenPreview">
                <img [src]="imagenPreview" alt="Preview" />
            </div>

            <button id="guardarBtn" type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Guardando...' : 'Guardar' }}
            </button>
        </form>
    </section>
</main>